<!DOCTYPE html>
<html>
<header>
</header>
<body>

usercheck: {{usercheck}} <br/>
signupcheck: {{signupcheck}}<br/>
uploadcheck: {{uploadcheck}}<br/>
viewavatarcheck: {{viewavatarcheck}}<br/>
avatar: {{avatar}}<br/>
createcheck: {{createcheck}}<br/>
invitecheck: {{invitecheck}}<br/>
invitephonenum: {{invitephonenum}}<br/>
inviteresponse: {{inviteresponse}}<br/>
inviteresponsecheck: {{inviteresponsecheck}}<br/>
imageuploadcheck: {{imageuploadcheck}}<br/>
image: {{image}}<br/>

</body>
</html>