<!DOCTYPE html>
<html>
<header>
</header>
<body>
	<form method='post'>
	phonenum:
	<input name='phonenum' value=''>
	<br/>
	username:
	<input name='username' value=''>
	<br/>
	avatar:
	<input name='avatar' value=''>
	<br/>
	circlename:
	<input name='circlename' value=''>
	<br/>
	recommender:
	<input name='cid' value=''>
	<br/>
	invitephonenum:
	<input name='invitephonenum' value=''>
	<br/>
	inviteresponse:
	<input name='inviteresponse' value=''>
	<br/>
	image:
	<input name='image' value=''>
	<br/>
	imageid:
	<input name='imageid',value=''>
	<br/>
	<input type='submit' name='button' value='Submit'>
	</form>

</body>
</html>